body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

td {
  padding: 3px;
  text-align: left;
}

.output-value {
  background: #dddddd;
  pointer-events: none;
  width: 50px;
}

#divColor {
  padding: 30px;
  width: 5px;
}
